<div class="row justify-content-center">
  <div class="col-md-4">
    <ul class="list-inline social-buttons">
      {% if site.twitter %}
      <li class="list-inline-item">
        <a href="https://twitter.com/{{ site.twitter }}" aria-label="Twitter">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      {% endif %}
      {% if site.facebook %}
      <li class="list-inline-item">
        <a href="https://www.facebook.com/groups/{{ site.facebook }}" aria-label="Facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      {% endif %}
      {% if site.github %}
      <li class="list-inline-item">
        <a href="https://github.com/{{ site.github }}" aria-label="GitHub">
          <i class="fab fa-github"></i>
        </a>
      </li>
      {% endif %}
      {% if site.slack %}
      <li class="list-inline-item">
        <a href="https://{{ site.slack }}.slack.com" aria-label="Slack">
          <i class="fab fa-slack-hash"></i>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
